@import "./css/smallScreen.css" screen and (max-width: 600px);
@import "./css/mediumScreen.css" screen and (max-width: 800px) and (min-width: 601px);

* {
    margin: 0;
    padding: 0;
  }
  
@media only screen and (min-width: 801px) {

body {
  min-height: 100vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  background-color: whitesmoke;
}

footer {
  display: grid;
  justify-content: flex-end;
  padding: 0.5rem;
  background-color: whitesmoke;
  width: 100%;
  margin-top: auto;
}

.wrapper {
  margin-block: 10px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 75vw;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 20% 60%  20%;
  grid-template-areas: "side content advert";
}

.side {
  grid-area: side;
  background-color: whitesmoke;
  padding: 10px;
  margin-right: 10px;
}

aside > ul{
   list-style: none; 
}

.content {
  grid-area: content;
  background-color: whitesmoke;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.content--p{
    padding: 10px;
}

.content--img{
width: 95%;
padding: 10px;
}

.advert {
  grid-area: advert;
  background-color: whitesmoke;
  margin-left: 10px;
}

}